<div>

    <div>
        <h1>HOME</h1>
    </div>

    <!-- Loop over each object in the projects array -->
   
 <div id="posts">



    {{#each posts}}
    
    <br>text{{content}}
    <br>
    {{/each}}

</div>
    
</div>