<div>

    <div class="bg-dark">
        <h1 class="text-white">HOME</h1>
    </div>

    <!-- Loop over each object in the projects array -->

    <div id="posts">



        {{#each posts}}

        <p>{{title}}
        {{format_date date}}<p>
       <h2> {{content}} </h2>
        
        {{/each}}

    </div>

</div>